#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
#Version=undefined
Name=Vimka
Exec=/usr/bin/vimka
Icon=vimka
Terminal=false
Categories=Internet;
X-Ubuntu-Gettext-Domain=vimka
